In [1]:
import mysql.connector
from dotenv import load_dotenv
from decouple import config 
import os

In [9]:
load_dotenv()

connection = mysql.connector.connect(
    host= os.getenv("host"),
    user= os.getenv("user"),
    password= os.getenv("password"),
    database="music_trends"
)

cursor = connection.cursor()

In [3]:
music_trends = """CREATE DATABASE "music_trends";"""

In [5]:
songs = """
CREATE TABLE IF NOT EXISTS songs (
    id INT AUTO_INCREMENT PRIMARY KEY,
    song VARCHAR(255) NOT NULL,
    artist VARCHAR(255) NOT NULL
); """

cursor.execute(songs, multi=True)

In [13]:
charts ="""
CREATE TABLE IF NOT EXISTS charts (
    id INT AUTO_INCREMENT PRIMARY KEY,
    date DATE NOT NULL,
    position INT NOT NULL,
    song_id INT NULL,
    FOREIGN KEY (song_id) REFERENCES songs(id) ON DELETE CASCADE
); """

cursor.execute(charts, multi=True)

In [7]:
genres = """
CREATE TABLE IF NOT EXISTS genres (
    id INT AUTO_INCREMENT PRIMARY KEY,
    year INT NOT NULL,
    genre VARCHAR(100) NOT NULL,
    frequency INT NOT NULL
); """

cursor.execute(genres, multi=True)

In [16]:
import pandas as pd 

generos_df = pd.read_csv("C:\\Users\\Rober\\Desktop\\PROYECTS\\Music Trends Proyect\\CSV\\cleans\\Tendencia_generos.csv")

for row in generos_df.itertuples(index=False):
    cursor.execute(
        """INSERT INTO genres (Year, Genre, Frequency) VALUES (%s, %s, %s)""",
        (row.Year, row.Genre, row.Frecuency)
    )

canciones_df = pd.read_csv("C:\\Users\\Rober\\Desktop\\PROYECTS\\Music Trends Proyect\\CSV\\cleans\\Tendencia_canciones_artistas.csv")

for row in canciones_df.itertuples(index=False):
    cursor.execute(
        """INSERT INTO songs (Song, Artist) VALUES (%s, %s)""",
        (row.Song, row.Artist)

    )

for row in canciones_df.itertuples(index=False):
    cursor.execute(
        """INSERT INTO charts(Date, Position) VALUES (%s, %s)""",
        (row.Date,row.Position)
    )
connection.cursor()

In [7]:
cursor.close()
connection.close()